<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body class="container">

<header> 
<%- include('../partials/header') %>
</header>



<div class="container">
 
  <div class="row">
    <div class="col-lg-4">
	<div class="py-5 ">
    <img class="d-block mx-auto mb-4" src="../assets/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Login form</h2>    
  </div>
	<form method="post"  action="/login">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" name="useremail">
	<% if(locals.errors && locals.errors.useremail) { %>
    <small  class="form-text text-danger"><%= errors.useremail.msg %></small>
	<% } %>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control">
	<% if(locals.errors && locals.errors.password) { %>
    <small  class="form-text text-danger"><%= errors.password.msg %></small>
	<% } %>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

	</div>
  </div>

  <footer>
<%- include('../partials/footer') %>
</footer>
</div>





</body>
</html>