<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>

<h2>Variable</h2>
<p><%= tagline %></p>

<ul class="list-group">
<% drinks.forEach(function(drink) { %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= drink.name %>
    <span class="badge badge-primary badge-pill"><%= drink.drunkness %></span>
  </li>
  <% }); %>
</ul>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>